body {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148901163.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    font-family: 'Poppins', sans-serif;;
}

.black {
    background-color: rgba(0,0,0,0.3);
}

.btn {
    background-color: #5AA0CB;
    color: white;
}